.carousel {
    width: 80%;
    max-width: 1000px;
    margin: 10px auto;
}
.carousel-item img {
    height: 500px;
    max-width: 100%;
    height: auto;
}
.cartoes {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (max-width: 768px) {
    .cartoes {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card {
        margin-bottom: 20px;
    }
}